<form class="c-form" 
        action="{{url_for('usuario.inserir_usuario')}}" 
        method="POST"
        c-append="#lista-usuarios">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" name="nome">
    </div>
   
    <div class="mb-3">
        <label id="label-target" class="form-label">Email</label>
        <input type="text" class="form-control" name="email">
    </div>
     

    <button type="submit" class="btn btn-primary">Criar Usuário</button>
  </form>